.plus-button-container {
    position: relative;
    align-items: center;
}
.plus-button {
    color: white;
    background: #e6471f;
    border: #e6471f;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: xxx-large;
    align-items: center;
    margin: 2rem;
    position: absolute;
    top: 50%; 
    left: 50%;
}

.plus-button:hover {
    scale: 1.05
}

.side-menu {
    color:white;
    width: 30rem;
    position: fixed;
}